* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #081b35;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main Container */

.box {
    width: 600px;
    position: relative;
}

/* Image */

.image {
    width: 100%;
    display: block;
    border-radius: 8px;
}

/* Left Card */

.left-box {
    width: 220px;
    height: 150px;
    background: #d8ff00;
    position: absolute;
    left: -60px;
    bottom: 35px;
    border-radius: 6px;
    padding: 22px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .2);
}

.left-box h1 {
    font-size: 50px;
    color: #111;
    margin-bottom: 15px;
}

.small-line {
    width: 100px;
    height: 2px;
    background: #333;
    margin-bottom: 15px;
}

.left-box p {
    font-size: 14px;
}

/* Right Card */

.right-box {
    width: 190px;
    background: #fff;
    position: absolute;
    right: -55px;
    top: 30px;
    border-radius: 6px;
    padding: 18px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .2);
}

.number-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.number-area h2 {
    font-size: 32px;
    color: #222;
}

.icon {
    width: 22px;
    height: 22px;
    background: #d8ff00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.progress {
    width: 100%;
    height: 6px;
    background: #e7e7e7;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 12px;
}

.progress-fill {
    width: 87%;
    height: 100%;
    background: #d8ff00;
}

.right-box p {
    font-size: 13px;
    color: #666;
}