@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading: "Tenor Sans", sans-serif;
    --font-base: "Kumbh Sans", sans-serif;
    --backgroundcolor: #FBFCEE;
    /* webpage background color*/
    --footercolor: #472425;
    /* footer background color*/
    --textcolor: #140503;
    /* main text color*/
    --lightgrey: #82878E;
    /* caption text color, nav bar text color*/
    --footertext: #F6F7F8;
    /* footer text color*/
    --white: #FFFEFE;
    /* CTA section text color*/
    --footerlogo: #573435;
    /* footer bottom large logo wordings color*/
    --olivegreen: #677115;
    /*column background color*/
    --rustysword: #A8463F;
    /*column background color*/
    --softorange: #ED9266;
    /*button colors*/
    --highlightext: #A7ACB2;
    /*highlight text color*/
}

.section-title,
.section-subtitle,
.large-logo-text,
.overline-text,
.hero-title,
.card-title,
.button-text,
.feature-title,
.counter-text {
    font-family: var(--font-heading);
}


.caption-text {
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 400;
    color: var(--lightgrey);
    line-height: 26px;
}

.section-title {
    font-size: 57px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 57px;
}

.section-subtitle {
    font-size: 23px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 28px;
}


.large-logo-text {
    font-size: 220.816px;
    font-weight: 400;
    color: var(--footerlogo);
    letter-spacing: -6.62448px;
    line-height: 220.816px;
}

.overline-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 14px;
    letter-spacing: 1px;
}

.hero-title {
    font-size: 104.44px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 93.996px;
    letter-spacing: -3.1332px;
}

.card-title {
    font-size: 28px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 32px;
}

.button-text {
    font-size: 13px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 15.0514px;
    letter-spacing: 1px;
}

.feature-title {
    font-size: 23px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 28px;
}

.counter-text {
    font-size: 120px;
    font-weight: 400;
    color: var(--textcolor);
    line-height: 108px;
}