.about-tagline {
    margin: 0 0 16px 0;
    color: var(--rosepink);
    font-family: var(--font-base);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
}

.about-text {
    margin: 20px 0;
}

.about-text>.p1 {
    margin: 0;
    font-weight: 400;
    color: var(--darknavy);
}

.p1 .about-intro {
    width: 100%;
    padding: 120px;
}

.about-intro-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 100px 100px;
}


/* Image */

.about-intro-image {
    width: 50%;
    flex-shrink: 0;
}

.about-intro-image img {
    width: 95%;
    object-fit: cover;
    border-radius: 40px 0;
}



.about-stats {
    display: flex;
    gap: 45px;
    margin: 32px 0 28px;
}

.about-stat h3 {
    color: var(--slateblue);
}

.about-stat>.menutitle {
    margin: 0;
    font-weight: 400;
    color: var(--darknavy);
}



.postbtn>.p4 {
    text-decoration: none;
    color: var(--white)
}




.purpose-section {
    width: 100%;
    padding: 120px 30px;
    box-sizing: border-box;
    background-color: var(--lightbluegrey);
}

.purpose-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}



.purpose-content {
    width: 50%;
}

.purpose-content>h3 {
    margin: 0 0 18px 0;
    color: var(--darknavy);
}


.skills-container {
    width: 50%;
}

.skill {
    margin-bottom: 35px;
}

.skill:last-child {
    margin-bottom: 0;
}

.skill-top {
    display: flex;

    justify-content: space-between;

    margin-bottom: 7px;

    color: var(--darkblue);

    font-family: var(--font-base);
    font-size: 17px;
}

.skill-bar {
    width: 100%;
    height: 15px;
    background-color: var(--lavendablue);
    border-radius: 100px;
    overflow: hidden;
}

.skill-bar span {
    display: block;
    height: 100%;
    background-color: var(--rosepink);
    border-radius: 100px;
}

.consulting {
    width: 85%;
}

.management {
    width: 76%;
}

.brainstorming {
    width: 92%;
}

.marketing-section {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 70px 0;
}



.marketing-header {
    text-align: center;
    margin-bottom: 45px;
}


.marketing-header h3 {
    margin: 0 0 12px;
    color: var(--darknavy);
}

.marketing-description {
    margin: 0;
}

.marketing-description>.p4 {
    color: var(--darknavy)
}

.marketing-image {
    width: 100%;
    overflow: hidden;
}

.marketing-image img {
    width: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 840px) {


    .about-intro-container {
        flex-direction: column;
        gap: 40px;
        margin: 70px 30px;
    }

    .about-intro-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Stats 一个一个排列 */
    .about-stats {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 25px 0;
    }

    .about-stat {
        width: 100%;
    }

    /* Button */
    .about-intro-content .postbtn {
        align-self: flex-start;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    /* Image 在 Button 下面 */
    .about-intro-image {
        width: 100%;
        order: 2;
    }

    .about-intro-image img {
        width: 100%;
    }

    /* Purpose */
    .purpose-section {
        padding: 80px 30px;
    }

    .purpose-container {
        flex-direction: column;
        gap: 45px;
    }

    .purpose-content,
    .skills-container {
        width: 100%;
    }


    .marketing-section {
        width: 100%;
        padding: 60px 30px;
        box-sizing: border-box;
    }

    .marketing-image {
        width: 100%;
    }

}