.about-page {
    width: 100%;
    overflow: hidden;
}

.about-page img {
    display: block;
    max-width: 100%;
}


.about-tagline {
    margin: 0 0 16px 0;
    color: var(--rosepink);
    font-family: var(--font-base);
    font-size: 13px;
    font-weight: 400;

    line-height: 1.4;
}

.about-text {
    margin: 20px 0;
}

.about- .about-text>.p4 {
    margin: 0;
    font-weight: 400;
    color: var(--darknavy);
}

.p1 .about-intro {
    width: 100%;
    padding: 120px;
    box-sizing: border-box;

}

.about-intro-container {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 100px;
}


/* Image */

.about-intro-image {
    width: 50%;
    flex-shrink: 0;
}

.about-intro-image img {
    width: 95%;
    object-fit: cover;
    border-radius: 40px 0;
}



.about-stats {
    display: flex;

    gap: 45px;

    margin: 32px 0 28px;
}

.about-stat h3 {
    color: var(--slateblue);
}

.about-stat>.menutitle {
    margin: 0;
    font-weight: 400;
    color: var(--darknavy);
}



.postbtn>.p4 {

    text-decoration: none;
    color: var(--white)
}




.purpose-section {
    width: 100%;
    padding: 75px 30px;
    box-sizing: border-box;
    background-color: var(--lightbluegrey);
}

.purpose-container {
    width: 100%;
    max-width: 1170px;

    margin: 0 auto;

    display: flex;

    align-items: center;

    gap: 100px;
}



.purpose-content {
    width: 50%;
}

.purpose-content>h3 {
    margin: 0 0 18px 0;
    color: var(--darknavy);
}


.skills-container {
    width: 50%;
}

.skill {
    margin-bottom: 18px;
}

.skill:last-child {
    margin-bottom: 0;
}

.skill-top {
    display: flex;

    justify-content: space-between;

    margin-bottom: 7px;

    color: var(--darkblue);

    font-family: var(--font-base);
    font-size: 11px;
}

.skill-bar {
    width: 100%;
    height: 6px;

    background-color: #dce1ef;

    border-radius: 100px;

    overflow: hidden;
}

.skill-bar span {
    display: block;

    height: 100%;

    background-color: var(--rosepink);

    border-radius: 100px;
}

.marketing-section {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 70px 0;
}



.marketing-header {
    text-align: center;
    margin-bottom: 45px;
}


.marketing-header h2 {
    margin: 0 0 12px;
    font-size: 30px;
    font-weight: 700;
    color: #22253d;
}

.marketing-description {
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
}



.marketing-image {
    width: 100%;
    overflow: hidden;
}

.marketing-image img {
    width: 100%;
    object-fit: cover;
    display: block;
}


.team {
    margin: 100px 0 0;
    padding: 0 30px 100px;
}

.team-heading .section-tag {
    text-align: center;
}

.team-heading {
    margin: 0 auto 50px;
    max-width: 700px;
}

.team-heading.section-tag {
    text-align: center;
}

.team-title h3 {
    text-align: center;
}

.team-subtitle>.p4 {
    margin: 0 auto 40px;
    text-align: center;
}

.team-card-container {
    display: flex;
    gap: 25px;
    margin: 0 60px;
}

.team-card {
    width: 100%;
    height: auto;
    margin: 0 0 60px;
    padding: 0 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: rgba(35, 38, 62, 0.1) 2px 2px 40px 0px;
}

.team-card img {
    width: 92%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.team-card h6 {
    margin: 25px 0 5px;
}

.position {
    padding-bottom: 25px;
    border-bottom: 1px dotted var(--rosepink);
    color: rgb(166, 171, 205);
}