@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading: "Kumbh Sans", sans-serif;
    --font-base: "Mulish", sans-serif;
    --white: #ffffff;
    /*icon background color ,btn when hover color , submenu background color  */
    --slateblue: #4F578D;
    /*Boday text color */
    --textcolor: #1F2937;
    /*btn background color , submenu color when hover
and  nav.bar text color  */
    --rosepink: #F73760;
    /*background color of icon back layer*/
    --beige: #FEF8E2;
    --darkpink: #D7536F;
    /*background of column box*/
    --lightpink: #FAF5F8;
    --lightbluegrey: #F4F5FA;
    --lightslablue: #F8FAF5;
    /*button background color*/
    --submenucolor: #767EB2;
    --whitebox: #F5F5F5;
    /*buttonbackground*/
    --darkblue: #3D436D;
    /*background of section box*/
    --darknavy: #22253D;
    /*background color of icon back layer , navbar text color when hover*/
    --lavendablue: #CED6EA;
    /*footer contact number color*/
    --footernum: #F5F5F5;

}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6,
.newshero {
    font-family: var(--font-heading);
}


/*h1 is used at footer Contact No */
h1 {
    font-size: 100px;
    font-weight: 700;
    Line-height: 120px;
}

/* HERO-TITTLE*/
h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

/*TITTLE*/
h3 {
    font-size: 44px;
    font-weight: 700;
    Line-height: 61.6px;
}

/* SUB-TITTLE*/
h4 {
    font-size: 36px;
    font-weight: 700;
    Line-height: 46.8px;
}

/*OBJECT-TITTLE*/
h5 {
    font-size: 28px;
    font-weight: 700;
    Line-height: 39.2px;
    letter-spacing: -0.56px;
}

/* SUB OBJECT-TITTLE*/
h6 {
    font-size: 22px;
    font-weight: 600;
    Line-height: 28px;
}

.faq

/* News Insights Hero Section*/
.newshero {
    font-size: 80px;
    line-height: 96px;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.percentagetitle,
.linktitle,
.countertitle,
.functionsub,
.menutitle {
    font-family: var(--font-base);
}


/*Hero Description*/
.p1 {
    font-size: 24px;
    line-height: 43.2px;
    font-weight: 400;

}

/*Quote and Testimonial*/
.p2 {
    font-size: 22px;
    line-height: 35.2px;
    font-weight: 400;
}

/*Body Text- General Content*/
.p3 {
    font-size: 19px;
    line-height: 34.2px;
    font-weight: 400;
    letter-spacing: -0.255px;
}

/*Supporting Text- Card Description , footer text*/
.p4 {
    font-size: 17px;
    line-height: 30.6px;
    font-weight: 400;
    letter-spacing: -0.255px;
}

/*Caption / List- List , Feature item , Small Notes*/
.p5 {
    font-size: 16px;
    line-height: 27.2px;
    font-weight: 400;
}


.menutitle {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.4px;

}

.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-family: var(--font-heading);
    height: 130px;
    position: relative;
    z-index: 1000;
}

/*for Passionate · Dedicated · Professional */
.section-tag {
    color: var(--rosepink);
    font-family: var(--font-base);
    font-size: 19px;
    font-weight: 400;
    line-height: 30.6px;
    display: inline-block;
    border-bottom: 1px dotted rgb(34, 37, 61);
    padding-bottom: 2px;
}

/*buttons*/

/*Post Content Header Contact Button*/
.postbtn {
    padding: 18px 36px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
    background-color: var(--rosepink);
}

.postbtn:hover {
    border-radius: 100px;
    background-color: var(--slateblue);
}


/*Home Page  Hero Content CTA Button*/
.heroctabtn-left,
.heroctabtn-right {
    padding: 20px 40px 22px;
    margin: 20px 20px 0px 0px;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.255px;
    line-height: 20.4px;
    font-family: var(--font-base);
    width: fit-content;
    border: 1.6px solid;
}


.heroctabtn-left:hover,
.heroctabtn-right:hover {
    border-radius: 100px;
}



/*footer button */
.footer-btn {
    padding: 22px 42px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
    background-color: transparent;
    border: 1.6px solid var(--white);
    border-color: var(--white);
    color: var(--white);
}

/*Data & Analytics ,Private Taxation , Marketing Strategy ,Business Consulting*/
.servicebtn {
    font-size: 17px;
    font-family: var(--font-base);
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--lightslablue);
    color: var(--white);
}

.service-btn:hover {
    background-color: var(--rosepink);
    color: var(--white);
}

.hamburgermenu {
    margin: 2px 0px 0px 15px;
    background-color: var(--white);
}

.hamburgermenu:hover {
    background-color: var(--slateblue);
}

.request {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 236px;
    height: 60px;
    padding: 18px 36px;
    border-radius: 30px;
    background: var(--rosepink);
    color: var(--white);
    border: none;
    font-family: var(--font-heading);
}

/*Logo*/
.logo img {
    width: 205px;
    height: 46.625px;
    display: block;
}

/*Menu*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    flex: 1;
}

.menu a {
    text-decoration: none;
    color: var(--darkblue);
    font-family: var(--font-heading);
    font-size: 17px;
}

.has-submenu {
    position: relative;
}

.has-submenu>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    width: 12px;
    height: auto;
    display: block;
    width: 10px;
    margin-top: 2px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: var(--slateblue);
    border-radius: 0 0 0 20px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    z-index: 1001;
}



.project-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 850px;
    display: flex;
    background: var(--white);
    border-radius: 0 0 0 25px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .2);
    z-index: 999;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    opacity: 0.7;
}

.project-left {
    width: 52%;
    background: var(--slateblue);
    padding: 35px;
}

.project-left h5 {
    color: var(--white);
    margin-bottom: 25px;
}

.project-right {

    width: 48%;
    background: var(--white);
    padding: 35px;

}

.project-right img {

    width: 100%;
    border-radius: 10px;
    margin: 20px 0;

}

.project-right h5 {

    color: var(--darkblue);
    margin-bottom: 20px;

}

.view-btn {

    display: inline-block;
    margin-top: 20px;
    color: var(--rosepink);

}

.project-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding: 22px 0;
    border-top: 1px solid rgba(255, 255, 255, .15);

}

.project-item a {

    color: var(--white);
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;

}

.project-item p {

    color: var(--lightblue);
    font-size: 15px;
    margin-top: 8px;

}


.has-submenu:hover>.submenu {
    opacity: 1;
    pointer-events: auto;
}

.has-submenu:hover>.project-submenu {
    opacity: 1;
    pointer-events: auto;
}

.project-item:hover a {
    color: var(--rosepink);
}

.laptop-menu {

    position: fixed;
    left: -320px;
    transition: .4s;
}

.laptop-menu.active {
    left: 0;
}

/*header*/
.request {
    background: var(--rosepink);
    color: var(--white);
    border: none;
}

.menu-btn {
    display: flex;
}

.talk-btn {
    display: flex;
    margin-left: auto;
}

.menu a {
    color: var(--textcolor);
}


.request:hover {
    background: var(--slateblue);
}


.header {
    display: flex;
    align-items: center;
}

.talk-btn {
    display: flex;
    margin-left: auto;
}

.header {
    position: relative;
    z-index: 1000;
}

.submenu {
    z-index: 1001;
}

.overlay-menu-btn {
    margin-left: 16px;
}

.submenu a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
    background: var(--slateblue);
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background: var(--rosepink);
}




/* === Burger menu === */
.menu-btn {
    width: 58px;
    height: 58px;
    border: none;
    border-radius: 50%;
    background: var(--lightpink);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
    transition: background-color 0.3s ease;
    flex-shrink: 0;

}

.menu-btn img {
    width: 22px;
    display: block;
}

.menu-btn:hover {
    background: var(--lightslablue);
}

/* Subpage Header - Burger always visible */
.menu-btn {
    display: flex;
}


/*hero section*/
.hero {
    position: relative;
    background-image: url(../images/heroimages.png);
    width: 90%;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 0 0 0 60px;
}

.hero-overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: var(--whitebox);
    padding: 100px;
    width: 100%;
}

.hero-overlay h2 {
    margin: 0;
    text-align: left;
}

.hero-overlay h6 {
    margin: 0;
    text-align: right;
    color: var(--whitebox);
}

/*== Laptop Off Canvas Menu ==*/

.laptop-menu {

    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: var(--slateblue);
    padding: 70px 50px;
    transition: .45s ease;
    z-index: 9999;

}

.laptop-menu.active {

    left: 0;

}

.laptop-menu a {

    display: block;
    color: var(--white);
    font-size: 28px;
    font-family: var(--font-heading);
    text-decoration: none;
    margin: 28px 0;

}

.laptop-menu a:hover {

    color: var(--rosepink);
}

.close-btn {
    position: absolute;
    right: 40px;
    top: 30px;
    border: none;
    background: none;
    color: var(--white);
    font-size: 45px;
    cursor: pointer;

}

/*FOOTER */
#footer-cta {
    min-height: 793px;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 160px 30px 60px 30px;
    position: relative;
    z-index: 1;
}

#footer {
    position: relative;
    background-color: var(--white);
}


/* SUBSCRIBE SECTION */

.footer-upper {
    height: 377px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.footer-subscribe {
    width: 62%;
    height: 373px;
    background-color: var(--white);
    padding: 60px;
    margin: 44px 0 0 0;
    box-shadow: 2px 2px 40px rgba(35, 38, 62, 0.10);
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}


/* Subscribe title */

.footer-subscribe-title {
    margin-top: 10px;
    text-align: center;
}

.footer-subscribe-title .h4 {
    margin: 0;
    color: var(--textblue);

}


/* Subscribe subtitle */
.footer-subscribe-subtitle {
    margin: 17px 0;
    text-align: center;
}

.footer-subscribe-subtitle .p4 {
    color: var(--slateblue);
}


/* Email + button */
.subscribe-textfield {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
    margin-top: 20px;
}

.subscribe-email {
    margin: 17px 0;
    flex: 1;
}

.subscribe-email input {
    border: none;
    padding: 0 17px;
    width: 100%;
    height: 59px;
    background-color: transparent;
    border-bottom: 1px solid var(--lavendablue);
    font-family: var(--font-base);
    font-size: 17px;
    color: var(--darknavy);
    outline: none;
}

.subscribe-email input::placeholder {
    color: var(--darknavy);
}


/* Subscribe button */

.subscribe-submit-btn {
    flex-shrink: 0;
}

.subscribe-submit-btn input {
    font-family: var(--font-base);
    font-size: 17px;
    font-weight: 600;
    background-color: var(--rosepink);
    color: var(--white);
    padding: 20px 40px 22px 40px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}

.subscribe-submit-btn input:hover {
    background-color: var(--darknavy);
}


/*DARK FOOTER AREA */

#footer-cta {
    min-height: 793px;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 160px 30px 60px 30px;
    position: relative;
    z-index: 1;
}


/* Footer content */
.footer-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* Footer logo */
.footer-logo {
    width: 19%;
    height: auto;
}


/* Footer information buttons */

.footer-cta-btn {
    display: flex;
    flex-direction: row;
}

.footer-cta-btn>button>.p4 {
    font-weight: 600;
    color: var(--white);
    line-height: 20.4px;
}

.footer-cta-btn>button {
    background-color: transparent;
    border-radius: 50px;
    padding: 22px 42px;
    border: 2px solid rgba(205, 203, 234, 0.2);
    margin: 80px 6.5px 0;
    width: 444px;
}


/* Phone number */
.footer-contact-num {

    color: var(--footernum);
    opacity: 0.2;
    margin: 40px 0;
}


/* Social icons */

.footer-social-icon {
    display: flex;
    flex-direction: row;
}

.footer-social-icon img {
    width: auto;
}

.social-icon {
    padding: 12px;
    margin: 5px 5px 60px;
    background-color: rgb(46, 50, 82);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}


/* Copyright */
.footer-copyright {
    margin: 15px 0;
    color: rgba(255, 255, 255, 0.4);
}

.red {
    color: var(--rosepink);
}

/* === Laptop  === */
@media screen and (max-width:1320px) {
    .menu {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .phone-btn {
        display: flex;
    }

    .header {
        padding: 20px 50px;
    }

}

/* === Tablet  === */
@media screen and (max-width:840px) {
    .talk-btn {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    /*hero section*/
    .hero {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0 0 0 45px;
        background-size: cover;
    }

    .hero-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding: 70px 60px;
        box-sizing: border-box;
    }

    .hero-overlay h2 {
        font-size: 32px;
        line-height: 1.2;
        text-align: left;
    }

    .hero-overlay h6 {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
    }
}





/* ---------- MOBILE : 440px ---------- */

@media (max-width: 440px) {

    .hero {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0 0 0 30px;
    }

    .hero-overlay {
        gap: 8px;
        padding: 50px 30px;
    }

    .hero-overlay h2 {
        font-size: 25px;
        line-height: 1.2;
    }

    .hero-overlay h6 {
        font-size: 11px;
        line-height: 1.4;
    }
}