@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading: "Kumbh Sans", sans-serif;
    --font-base: "Mulish", sans-serif;
    --white: #ffff;
    --slateblue: #4F578D;
    --textcolor: #1F2937;
    --rosepink: #F73760;
    --beige: #FEF8E2;
    --lightpink: #FAF5F8;
    --submenucolor: #6769b8;
    --whitebox: #F5F5F5;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6,
.smalltext {
    font-family: var(--font-heading);
    font-weight: bold;
    line-height: 1.5;
}

/*h1 is used at banner home, help center */
h1 {
    font-size: 56px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 22px;
}

.smalltext {
    font-size: 17px;
}

p {
    font-family: var(--font-base);
    line-height: 1.5;
    color: var(--textcolor);
    padding: 0px 20px;

}

p.extrablod {
    font-size: 90px;
    line-height: 500;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    font-family: var(--font-heading);

}


/*Logo*/
.logo img {
    width: 180px;
    display: block;
}

/*Menu*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    flex: 1;
}

.menu a {
    text-decoration: none;
    color: var(--darkblue);
    font-family: var(--font-heading);
    font-size: 17px;


}

.has-submenu {
    position: relative;
}

.has-submenu>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    width: 12px;
    height: auto;
    display: block;
    width: 10px;
    margin-top: 2px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: var(--slateblue);
    border-radius: 0 0 0 20px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.submenu a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
}

.project-submenu {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--submenucolor);
    border-radius: 0 0 0 20px;
    pointer-events: none;
    transition: .3s;
    margin-top: 8px;
    width: 400px;

}

.project-item a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.has-submenu:hover>.submenu {
    opacity: 1;
    pointer-events: auto;
}

.has-submenu:hover>.project-submenu {
    opacity: 1;
    pointer-events: auto;
}

.submenu:hover {
    background: var(--rosepink);
    border-color: var(--rosepink);
    color: var(--white);
}

/*hero section*/
.hero {
    position: relative;
    background-image: url(../images/heroimages.png);
    width: 90%;
    margin-left: 80px;
    margin-right: 80px;

}

.hero-overlay {
    color: var(--whitebox);
    text-align: center;
    padding: 40px;
    width: 100%;
}

.hero-overlay h2 {
    margin-bottom: 10px;
    align-items: left;
}