@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading: "Kumbh Sans", sans-serif;
    --font-base: "Mulish", sans-serif;
    --white: #ffff;
    --slateblue: #4F578D;
    --textcolor: #1F2937;
    --rosepink: #F73760;
    --beige: #FEF8E2;
    --lightpink: #FAF5F8;
    --submenucolor: #6769b8;
    --whitebox: #F5F5F5;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}


/*h1 is used at Contact No */
h1 {
    font-size: 100px;
    font-weight: 700;
    Line-height: 120px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

h3 {
    font-size: 44px;
    font-weight: 700;
    Line-height: 61.6px;
}

h4 {
    font-size: 36px;
    font-weight: 700;
    Line-height: 46.8px;
}

h5 {
    font-size: 28px;
    font-weight: 700;
    Line-height: 39.2px;
}

h6 {
    font-family: 20px;
    font-weight: 600;
    Line-height: 28px;
}


p {
    font-family: var(--font-base);
    line-height: 1.5;
    color: var(--textcolor);
    padding: 0px 20px;

}

p.extrablod {
    font-size: 90px;
    line-height: 500;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    font-family: var(--font-heading);

}

/*buttons*/

/*Post Content Header Contact Button*/
.postbtn {
    padding: 18px 36px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
    background-color: var(--rosepink);
}

.postbtn:hover {
    border-radius: 100px;
    background-color: #4F578D
}


/*Home Page  Hero Content CTA Button*/
.heroctabtn {
    margin: 20px 40px 22px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
}

.heroctabtn:hover {
    border-radius: 100px;
}

/*footer button */
.footer-btn {
    padding: 22px 42px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
    background-color: transparent;
    border: 1.6px solid var(--white);
    border-color: var(--white);
    color: var(--white);
}


/*Logo*/
.logo img {
    width: 180px;
    display: block;
}

/*Menu*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    flex: 1;
}

.menu a {
    text-decoration: none;
    color: var(--darkblue);
    font-family: var(--font-heading);
    font-size: 17px;


}

.has-submenu {
    position: relative;
}

.has-submenu>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    width: 12px;
    height: auto;
    display: block;
    width: 10px;
    margin-top: 2px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: var(--slateblue);
    border-radius: 0 0 0 20px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.submenu a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
}

.project-submenu {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--submenucolor);
    border-radius: 0 0 0 20px;
    pointer-events: none;
    transition: .3s;
    margin-top: 8px;
    width: 400px;

}

.project-item a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.has-submenu:hover>.submenu {
    opacity: 1;
    pointer-events: auto;
}

.has-submenu:hover>.project-submenu {
    opacity: 1;
    pointer-events: auto;
}

.submenu:hover {
    background: var(--rosepink);
    border-color: var(--rosepink);
    color: var(--white);
}

/*hero section*/
.hero {
    position: relative;
    background-image: url(../images/heroimages.png);
    width: 90%;
    margin-left: 80px;
    margin-right: 80px;

}

.hero-overlay {
    color: var(--whitebox);
    text-align: center;
    padding: 40px;
    width: 100%;
}

.hero-overlay h2 {
    margin-bottom: 10px;
    align-items: left;
}