.contact-info {
    max-width: 1520px;
    margin: 80px auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.card {
    width: 90%;
    height: 427px;
    background: var(--whitebox);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 26.35px;
    margin-right: 26.35px;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 90%;
    height: 294px;
    object-fit: cover;
    display: block;
}

.card-image h5 {
    position: absolute;
    left: 40px;
    bottom: 15px;
    color: var(--white);

}

.card-content {
    padding: 18px 20px;
}

.contact-form-section {
    width: 100%;
    max-width: 1510px;
    margin: 80px auto;
    display: flex;
}

.contact-left {
    width: 42%;
    padding: 80px 70px;
}

.contact-right {
    width: 58%;
    background: var(--whitebox);
    padding: 60px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-row {
    display: flex;
    gap: 30px;
}

.form-row input {
    width: 50%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--whitebox);
    background: transparent;
    padding-bottom: 18px;
    outline: none;
}

.callback-btn {
    width: 280px;
    height: 62px;
    border-radius: 100px;
}

.map-section {
    width: 100%;
    max-width: 1510px;
    margin: 100px auto;
}

.map-wrapper iframe {
    width: 100%;
    height: 520px;
    border: none;
}