.contact-info {
    max-width: 95%;
    margin: 80px auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.card {
    width: 100%;
    background: var(--whitebox);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 26.35px;
    margin-right: 26.35px;
}

.card-image {
    position: relative;
    width: 100%;
}

.card-image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.card-image h5 {
    position: absolute;
    left: 40px;
    bottom: 15px;
    color: var(--white);

}

.card .p4 {
    color: var(--textcolor);
    padding: 40px 40px 30px;
}

.card-content {
    padding: 18px 20px;
}

.contact-form-section {
    width: 100%;
    max-width: 1510px;
    margin: 80px auto;
    display: flex;
}

.section-tag {
    margin: 20px 0;
}

.contact-left {
    width: 42%;
    padding: 80px 70px;
}

.contact-left h3 {
    margin: 20px 0;
}

.contact-left .p4 {
    margin: 20px 0;
}

.phone-info {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.phone-icon img {
    width: 22px;
    height: 22px;
    display: block;
}

.contact-right {
    width: 58%;
    background: var(--whitebox);
    padding: 60px;
    margin-right: 80px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-row {
    display: flex;
    gap: 30px;
}

.form-row input {
    width: 50%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--whitebox);
    background: transparent;
    padding-bottom: 18px;
    outline: none;
}

.callback-btn {
    width: 38%;
    height: 62px;
    border-radius: 100px;
    background: var(--slateblue);
    color: var(--white);
}

.map-section {
    margin: 100px 80px;
}

.map-wrapper iframe {
    width: 100%;
    height: 520px;
    border: none;
}