/* =========================
   HERO BANNER
========================= */

.hero-banner {
    position: relative;
    width: 100%;
    background-image: url(../images/bluebackground.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 40px;
    box-sizing: border-box;
}


.hero-content h3 {
    margin: 0;
    text-align: center;
    color: var(--white);
}

.hero-subtitle {
    margin: 38px 0 0;
}

.hero-subtitle .p1 {
    text-align: center;
    color: var(--white);
}

.hero-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 75px;
}

.feature {
    display: flex;
    align-items: center;
    min-height: 90px;
    padding: 0 35px;
}

.feature-line {
    width: 2px;
    height: 90px;
    margin-right: 35px;
    background: var(--rosepink);
    flex-shrink: 0;
}

.feature h6 {
    margin: 0 0 10px;
    color: var(--white);
}

.feature .p4 {
    margin: 0;
    color: var(--herotext);
}

@media (max-width: 1320px) {

    .hero-content {
        padding: 65px 60px;
    }



    .hero-subtitle {
        margin-top: 32px;

    }

    .hero-features {
        margin-top: 65px;
    }

    .feature {
        padding: 0 25px;
    }

    .feature-line {
        margin-right: 28px;
    }

}