/* home page hero section */
.home-hero {

    width: 100%;
    height: 750px;
    background: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/*HOME PAGE HEADER*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: none;

}

.logo img {
    content: url("../images/whitelogo.png")
}


/*-- Home Header --*/

.phone-btn {
    display: flex;
}

.talk-btn {
    display: none;
}



/* Home Page Menu */

.menu a {
    color: var(--white);

}

/* Home Page Dropdown */
.submenu a {
    background: var(--darkblue);
    color: var(--white);
}


/*Home Page Button*/
.header-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.request-phone-btn {
    background: transparent;
    color: white;
    font-weight: 600;
    padding: 18px 36px;
    border: solid 1.6px var(--white);
    border-radius: 100px;
    gap: 12px;
    align-items: center;
    display: flex;
}

.menu-btn {
    border-radius: 50%;
    background-color: var(--rosepink);
    width: 57px;
    height: 57px;
    margin-left: 20px;
    justify-content: center;
}

.hamburger-icon {
    height: auto;
    width: auto;
}

#menu-toggle-burger {
    display: none;
}



/* Home Page hide Let talk button*/
.talk-btn {
    display: none;
}

/* Home Page show Phone button */
.phone-btn {
    display: flex;
}

.request-phone-btn:hover {
    background: var(--rosepink);
    border-color: var(--rosepink);
    color: var(--white);
}

.request-phone-btn img {
    width: 18px;
    height: 18px;
}

/* Home Page hide Burger Menu */
.menu-btn {
    display: none;
}

.overlay-menu-btn {
    justify-content: center;
}


/* Home Page */
.phone-btn {
    margin-left: auto;
}

/*hamburger overlay menu*/
.laptop-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(27, 29, 48);
    opacity: 99%;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.35s ease;

    overflow-y: auto;
    isolation: isolate;
    z-index: 9999;
}

.laptop-menu.active {
    transform: translateX(0);
}

.overlay-menu-text {
    margin: 0px 60px 60px 60px;

}


.p1 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -0.51px;
}

.menu-text {
    margin-bottom: 12px;

}


.laptop-menu a {
    color: var(--white);
    font-size: 34px;
    text-decoration: none;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    transition: color 0.2s ease;


}

body.menu-open {
    overflow: hidden;
}

.laptop-menu a:hover {
    color: var(--rosepink);
}

.overlay-cta {
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
    align-items: center;
    padding-bottom: 60px;
}

.contact-no {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

}

.help-support {
    font-family: var(--font-base);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.255px;
    line-height: 43.2px;
    color: rgb(255, 255, 255, 0.7);

}

.support-hotline {
    font-size: 70px;
    line-height: 84px;
    letter-spacing: -1.4px;
    color: var(--white);
}

.overlay-menu-contact-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%
}

.overlay-btn {
    padding: 22px 42px;
    border-width: 1.6px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--white);
    border-color: rgb(34, 37, 61);
    transition-duration: 0.2s;
    transition-duration: color;
}

.overlay-btn:hover {
    background-color: rgb(35, 38, 62);

}

/* home page hero banner */
.hero-banner {
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 79.6px 20px;
}

.hero-title {
    font-family: var(--font-heading);
    font-size: 60px;
    color: var(--white);
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: center;
}

.hero-description {
    font-family: var(--font-base);
    font-size: 24px;
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.herobtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* left hero cta button*/
.heroctabtn-left {
    display: flex;
    flex-direction: row;
    gap: 11.9px;
    background: var(--rosepink);

}

/* right hero cta button*/
.heroctabtn-right {
    display: flex;
    flex-direction: row;
    gap: 11.9px;
    background: var(--white);
    color: var(--darkblue);

}

.btnname-left,
.btnarrow-left {
    color: var(--white);
}

.btnname-right,
.btnarrow-right {
    color: var(--textcolor);
}

/* header features section*/
.features {
    margin-left: 86.35px;
    margin-right: 86.35px;
    height: 174.2px;
    background-color: var(--white);
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 40px 0px rgba(35, 38, 62, 0.1);
    position: static;
    top: 50px;

}

.feature-item {
    display: flex;
    justify-content: flex-start;
    padding: 50px 60px;
    gap: 5%;
}

h5 {
    color: rgb(34, 37, 61);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
    line-height: 28.6px;
    margin: 10px 0px 5px 0px;

}

.item-caption {
    color: rgb(166, 171, 205);

}

.item {
    padding: 0px 0px 0px 30px;
    border-left: 1.6px solid var(--rosepink);
    margin: 0px 23.563px;

}

.logo img {
    content: url("../images/whitelogo.png");
}

@media screen and (max-width:1320px) {

    .menu-btn {
        display: flex;
    }

    #menu-toggle-burger {
        display: block;
        justify-content: center;
        display: flex;
    }

    .menu {
        display: none;
    }

    .request-menu-btn:hover {
        background-color: rgb(206 214 234);

    }



}