/* home page hero section */
.home-hero {

    width: 100%;
    height: 750px;
    background: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/*HOME PAGE HEADER*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: none;

}

.logo img {
    content: url("../images/whitelogo.png")
}


/*-- Home Header --*/

.phone-btn {
    display: flex;
}

.talk-btn {
    display: none;
}

.menu-btn {
    display: none;
}

/* Home Page Menu */

.menu a {
    color: var(--white);

}

/* Home Page Dropdown */
.submenu a {
    background: var(--darkblue);
    color: var(--white);
}


/*Home Page Button*/
.request {
    background: transparent;
    border: 2px solid white;
    color: white;
}

/* Home Page hide Let talk button*/
.talk-btn {
    display: none;
}

/* Home Page show Phone button */
.phone-btn {
    display: flex;
}

.request:hover {
    background: var(--rosepink);
    border-color: var(--rosepink);
    color: var(--white);
}

.request img {
    width: 18px;
    height: 18px;
}

/* Home Page hide Burger Menu */
.menu-btn {
    display: none;
}

/* Home Page */
.phone-btn {
    margin-left: auto;
}

/* home page hero banner */
.hero-banner {
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 79.6px 20px;



}

.hero-title {
    font-family: var(--font-heading);
    font-size: 60px;
    color: var(--white);
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: center;
}

.hero-description {
    font-family: var(--font-base);
    font-size: 24px;
    color: var(--white);
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.herobtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* left hero cta button*/
.heroctabtn-left {
    display: flex;
    flex-direction: row;
    gap: 11.9px;
    background: var(--rosepink);

}

/* right hero cta button*/
.heroctabtn-right {
    display: flex;
    flex-direction: row;
    gap: 11.9px;
    background: var(--white);
    color: var(--darkblue);

}

.btnname-left,
.btnarrow-left {
    color: var(--white);
}

.btnname-right,
.btnarrow-right {
    color: var(--textcolor);
}

/* header features section*/
.features {
    margin-left: 86.35px;
    margin-right: 86.35px;
    height: 174.2px;
    background-color: var(--white);
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 40px 0px rgba(35, 38, 62, 0.1);
    position: relative;
    top: 50px;

}

.feature-item {
    display: flex;
    justify-content: flex-start;
    padding: 50px 60px;
    gap: 5%;
}

h5 {
    color: rgb(34, 37, 61);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
    line-height: 28.6px;
    margin: 10px 0px 5px 0px;

}

.p4 {
    color: rgb(166, 171, 205);

}

.item {
    padding: 0px 0px 0px 30px;
    border-left: 1.6px solid var(--rosepink);
    margin: 0px 23.563px;

}

.logo img {
    content: url("../images/whitelogo.png");
}