@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === ROOT VARIABLES === */
:root {
    --font-heading: "Kumbh Sans", sans-serif;
    --font-base: "Mulish", sans-serif;
    --white: #ffff;
    --slateblue: #4F578D;
    --textcolor: #1F2937;
    --rosepink: #F73760;
    --beige: #FEF8E2;
    --lightpink: #FAF5F8;
    --submenucolor: #6769b8;
    --whitebox: #F5F5F5;
    --lightslablue: #A6ABCD;
}

/*headings*/
h1,
h2,
h3,
h4,
h5,
h6,
.newshero {
    font-family: var(--font-heading);
}


/*h1 is used at footer Contact No */
h1 {
    font-size: 100px;
    font-weight: 700;
    Line-height: 120px;
}

/* HERO-TITTLE*/
h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}

/*TITTLE*/
h3 {
    font-size: 44px;
    font-weight: 700;
    Line-height: 61.6px;
}

/* SUB- TITTLE*/
h4 {
    font-size: 36px;
    font-weight: 700;
    Line-height: 46.8px;
}

/*OBJECT-TITTLE*/
h5 {
    font-size: 28px;
    font-weight: 700;
    Line-height: 39.2px;
}

/* SUB OBJECT-TITTLE*/
h6 {
    font-size: 20px;
    font-weight: 600;
    Line-height: 28px;
}

/* News Insights Hero Section*/
.newshero {
    font-size: 80px;
    line-height: 96px;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.percentagetitle,
.linktitle,
.countertitle,
.functionsub,
.menutitle {
    font-family: var(--font-base);
}

/*Hero Description*/
.p1 {
    font-size: 24px;
    line-height: 43.2px;
    font-weight: 400;

}

/*Quote and Testimonial*/
.p2 {
    font-size: 22px;
    line-height: 35.2px;
    font-weight: 400;
}

/*Body Text- General Content*/
.p3 {
    font-size: 19px;
    line-height: 34.2px;
    font-weight: 400;
}

/*Supporting Text- Card Description , footer text*/
.p4 {
    font-size: 17px;
    line-height: 30.6px;
    font-weight: 400;
}

/*Caption / List- List , Feature item , Small Notes*/
.p5 {
    font-size: 16px;
    line-height: 27.2px;
    font-weight: 400;
}


.menutitle {
    font-size: 17px;
    font-weight: 600;
    line-height: 20.4px;

}

.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-family: var(--font-heading);
    height: 130px;

}



/*for Passionate · Dedicated · Professional */
.section-tag {
    color: var(--rosepink);
    font-family: var(--font-base);
    font-size: 19px;
    font-weight: 400;
    line-height: 30.6px;

}

/*buttons*/

/*Post Content Header Contact Button*/
.postbtn {
    padding: 18px 36px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
    background-color: var(--rosepink);
}

.postbtn:hover {
    border-radius: 100px;
    background-color: #4F578D
}


/*Home Page  Hero Content CTA Button*/
.heroctabtn-left,
.heroctabtn-right {
    padding: 20px 40px 22px;
    margin: 20px 20px 0px 0px;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.255px;
    line-height: 20.4px;
    font-family: var(--font-base);
    width: fit-content;
    border: 1.6px solid;
}


.heroctabtn-left:hover,
.heroctabtn-right:hover {
    border-radius: 100px;
}

/*footer button */
.footer-btn {
    padding: 22px 42px;
    border-radius: 100px;
    font-size: 17px;
    font-family: var(--font-base);
    background-color: transparent;
    border: 1.6px solid var(--white);
    border-color: var(--white);
    color: var(--white);
}

/*Data & Analytics ,Private Taxation , Marketing Strategy ,Business Consulting*/
.servicebtn {
    font-size: 17px;
    font-family: var(--font-base);
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--lightslablue);
    color: var(--white);
}

.service-btn:hover {
    background-color: var(--rosepink);
    color: var(--white);
}

.hamburgermenu {
    margin: 2px 0px 0px 15px;
    background-color: var(--white);
}

.hamburgermenu:hover {
    background-color: var(--slateblue);
}

.request {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 236px;
    height: 60px;
    padding: 18px 36px;
    border-radius: 30px;
    background: #F73760;
    color: #fff;
    border: none;
    font-family: var(--font-heading);
}

/*Logo*/
.logo img {
    width: 205px;
    height: 46.625px;
    display: block;
}

/*Menu*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    flex: 1;
}

.menu a {
    text-decoration: none;
    color: var(--textcolor);
    font-family: var(--font-heading);
    font-size: 17px;


}

.has-submenu {
    position: relative;
}

.has-submenu>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    width: 12px;
    height: auto;
    display: block;
    width: 10px;
    margin-top: 2px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background: var(--slateblue);
    border-radius: 0 0 0 20px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.submenu a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
}

.project-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 850px;
    display: flex;
    background: white;
    border-radius: 0 0 0 25px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .2);
    z-index: 999;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-icon {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    opacity: 0.7;
}

.project-left {
    width: 52%;
    background: #6769b8;
    padding: 35px;
}

.project-left h5 {
    color: white;
    margin-bottom: 25px;
}

.project-right {

    width: 48%;
    background: white;
    padding: 35px;

}

.project-right img {

    width: 100%;
    border-radius: 10px;
    margin: 20px 0;

}

.project-right h5 {

    color: #1F2937;
    margin-bottom: 20px;

}

.view-btn {

    display: inline-block;
    margin-top: 20px;
    color: #F73760;

}

.project-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    padding: 22px 0;
    border-top: 1px solid rgba(255, 255, 255, .15);

}

.project-item a {

    color: white;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;

}

.project-item p {

    color: #d6d8ff;
    font-size: 15px;
    margin-top: 8px;

}


.has-submenu:hover>.submenu {
    opacity: 1;
    pointer-events: auto;
}

.has-submenu:hover>.project-submenu {
    opacity: 1;
    pointer-events: auto;
}



.project-item:hover a {
    color: var(--rosepink);
}



.submenu a {
    display: block;
    padding: 18px 20px;
    color: var(--white);
    background: var(--slateblue);
    border-bottom: 1px solid rgba(255, 255, 255, .12);
    transition: background .3s ease;

}

.submenu a:hover {
    background: var(--rosepink);
}




/* === Burger menu === */
.menu-btn {
    width: 58px;
    height: 58px;
    border: none;
    border-radius: 50%;
    background: #EEF0F6;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
    transition: background-color 0.3s ease;
}

.menu-btn img {
    width: 22px;
    display: block;
}

.menu-btn:hover {
    background: var(--rosepink);
}


/*hero section*/
.hero {
    position: relative;
    background-image: url(../images/heroimages.png);
    width: 90%;
    margin-left: 80px;
    margin-right: 80px;

}

.hero-overlay {
    color: var(--whitebox);
    text-align: center;
    padding: 40px;
    width: 100%;
}

.hero-overlay h2 {
    margin-bottom: 10px;
    align-items: left;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 16px;
}

/*== Laptop Off Canvas Menu ==*/

.laptop-menu {

    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #23253F;
    padding: 70px 50px;
    transition: .45s ease;
    z-index: 9999;

}

.laptop-menu.active {

    left: 0;

}

.laptop-menu a {

    display: block;
    color: white;
    font-size: 28px;
    font-family: var(--font-heading);
    text-decoration: none;
    margin: 28px 0;

}

.laptop-menu a:hover {

    color: var(--rosepink);
}

.close-btn {
    position: absolute;
    right: 40px;
    top: 30px;
    border: none;
    background: none;
    color: white;
    font-size: 45px;
    cursor: pointer;

}

/* === Laptop  === */
@media screen and (max-width:1310px) {
    .menu {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .phone-btn {
        display: flex;
    }

    .header {
        padding: 20px 50px;
    }

}